{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form action="/action_page.php" method="post">
      <center>
        <fieldset>
          <div class="about-section">
            <h1>About Site</h1>
            <p>
              We made this Website for people suffering from mental illness.
            </p>
            <p>
              People who are suffering from mental illness and find it difficult
              to go to the psychologist in person, can easily interact with the
              psychologist online.
            </p>
          </div>
        </fieldset>
      </center>
    </form>

 {% endblock %}