{% extends 'base.html' %}
{% load static %}

{% block content %} 

<h2> {{psychologist}} user Story </h2>

<div class="login">      
    <form method="POST" action="">  
    {% csrf_token %}

    {% comment %} <label>Name</label>
    <input type="text" name="name" maxlength="100" required id="id_name">

    <label>Email</label>
    <input type="text" name="email" maxlength="100" required id="id_email">

    <label>Message</label>
    <textarea name="message" rows="10" required id="id_message"></textarea> {% endcomment %}

    {{ form1 }}

    <br>
    <br>
    <input type="submit" value="Post User Story">   
  
    </form>      
</div>

{% endblock %}
 