{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div class="login">      
    <form method="POST" action=""> 
    {% csrf_token %}

    <label>Title</label>
    <input type="text" name="title" maxlength="100" required id="id_title">

    <label class="mt-4">Description</label>
    <textarea name="description" rows="10" required id="id_description"></textarea>

    <br>
    <br>
    <input type="submit" value="Post Blog">   
   
    </form>      
</div>

{% endblock %}
 