{% extends 'base.html' %} {% load static %} {% block content %}

<div class="header">
  <h4>Get help</h4>
  <h4>or online conselling now</h4>
</div>

<h3>Popular Topics on Mind Bliss</h3>

<div class="slider owl-carousel">
  <div class="card w-75 m-auto">
    <div class="img">
      <img src=" {% static 'img/conditions anxiety.jpg' %}" alt="" />
    </div>
    <div class="content">
      <div class="title">Anxiety</div>

      <div class="btn1 text-center">
        <button>Read more</button>
      </div>
    </div>
  </div>
</div>
<div class="exploring">
  <h6>Start Exploring Mind Bliss</h6>
  <p>Mind bliss will help you to solve your mental issues easily</p>
  <p>Now you dont have to worry about what society will say about you</p>
</div>

{% endblock %}
