<footer class="footer-distributed">
  <div class="footer-left">
    <h3>MIND<span>BLISS</span></h3>


    </p>

  </div>

  <div class="footer-center">
    <div>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+1 555 123456</p>
    </div> 

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@company.com">contact@mindbliss.com</a>
      </p>
    </div>
  </div>

  <div class="footer-right">
  <p></p>
    <p class="footer-company-name">mindbliss &copy; 2021</p>


  </div>
</footer>
