{% load auth_extras %} {% load static %}

<header>
  <div class="top">
    <button class="button d-flex justify-content-center">
      <a
        href="{% url 'contact_us' %}"
        style="color: white; text-decoration: none"
        >contact us</a
      >
    </button> 
    <img src="{% static "img/logo.png" %}" style="width: 70px; height: 70px"
    alt="logo" />
    <h1>Mind Bliss</h1>
  </div>
</header>

<div class="topnav d-flex justify-content-between"> 
  {% if request.user|has_group:"Psychologist" %}
  <div>
    <a href="{% url 'index' %}" class="">Home</a>
    <a href="{% url 'serch_psychologist' %}">Search Phychologist</a>
    <a href="{% url 'view_blogs' %}">Blogs</a>
    <a href="{% url 'search_patient' %}">Search Patient</a>
    <a href="{% url 'create_blog' %}">Create Blog</a>
    <a href="{% url 'chatbox' %}">Chatbox</a>
  </div>
  <div> 
    <a href="#">{{ request.user.username }}</a> 
    <a href="{% url 'logout' %}"> Logout </a>
  </div>
  {% elif request.user|has_group:"Paitent" %}
  <div>
    <a href="{% url 'index' %}" class="">Home</a>
    <a href="{% url 'serch_psychologist' %}">Search Phychologist</a>
    <a href="{% url 'view_blogs' %}">Blogs</a>
    <a href="#">Paitent Setting</a> 
    <a href="{% url 'personality' %}">Personality test</a>
  </div>
  <div>
    <a href="#">{{ request.user.username }}</a>
    <a href="{% url 'logout' %}"> Logout </a>
  </div>
  {% else %}
  <div>
    <a href="{% url 'index' %}" class="">Home</a>
    <a href="{% url 'serch_psychologist' %}">Search Phychologist</a>
    <a href="{% url 'view_blogs' %}">Blogs</a>
    <a href="{% url 'personality' %}">Personality test</a>
  </div>
  <div>
    <a href="{% url 'signup_psychologist' %}">Become Psychologist </a>
    <a href="{% url 'signup_patient' %}">Become Paitent </a>
    <a href="{% url 'login' %}"> Login </a>
  </div>
  {% endif %}
</div>
