
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
<link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
<div class="top" >
<button class="button"><b>contact us<b></button>
<img src="#" alt=logo>
<h1> Mind Bliss<h1>
</header>
</div>
    
<div class="topnav">
  <a href="dashboard.html" >Home</a>
  <a href="searchpsychologist.html">Search Phychologist</a>
  <a href="blog page.html">Blogs</a>
 <a href="userstories.html">User stories</a>
  <a href="settings main page.html" class="active">Settings</a>
  <a href="#">Personality test</a>
  
<input type="text" placeholder="Search">
</div>
</div>
<form action="/action_page.php" method="post"> 
<center><fieldset> 
<h1>Help</h1>
<hr />
<div class="city">
<p>We are here to help you. Do you have any queries?</p>

</div>
<br>
</center></fieldset>
 </form>
   
<footer class="footer-distributed">
<div class="footer-left">
 
<h3>MIND<span>BLISS</span></h3>
 
<p class="footer-links">
<a href="#">Home</a>
	
<a href="#">Blog</a>
<a href="#">Pricing</a>
	
<a href="#">About</a>
	
<a href="#">Faq</a>
<a href="#">Contact</a>
</p>
 
<p class="footer-company-name">webdevtrick &copy; 2019</p>
</div>
 
<div class="footer-center">
 
<div>
<i class="fa fa-map-marker"></i>
		<p><span>21 Revolution Street</span> Delhi, India</p>
		</div>
 
		<div>
		<i class="fa fa-phone"></i>
		<p>+1 555 123456</p>
		</div>
 
		<div>
		<i class="fa fa-envelope"></i>
		<p><a href="mailto:support@company.com">contact@webdevtrick.com</a></p>
		</div>
 
		</div>
 
		<div class="footer-right">
 
		<p class="footer-company-about">
		<span>About the company</span>
	Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
		</p>
 
		<div class="footer-icons">
 
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
 
		</div>
 
		</div>
 
		</footer>
    </body>
</html>
