{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div class="login">    
    <form method="POST" action=""> 
    {% csrf_token %}
        
    <center> <h2>Members Login</h2><center>  
       <label for="uname">Username</lablel>  
        <input type="text" name="username" id="username" placeholder="Username">   
        <br> 
        <label for="pwd">Password</lablel>    
        </label>    
        <input type="Password" name="password" id="password" placeholder="Password">    
        <br> 
        <input type="submit" value="Login">       
        <br>    
 
        <a href="signup psychologist.html">register</a>    
    </form>     
</div>

{% endblock %}
