{% extends 'base.html' %} {% load static %} {% block content %}

<div class="Searchcontainer">
  <h3 class="SearchHeadingStyle">Search Patient</h3>
  <div class="margin"></div>
  <div class="width"></div>
  <div style="padding: 10px" class="searchDiv">
    {% comment %} <input
      class="searchInput"
      placeholder="Enter category to search"
      name="search"
    />
    <a href="DoctorList.html" class="searchButton" name="Search" type="submit" style="height: 48px;"
      >Search</a
    > {% endcomment %} 
 
    <form class="paitent-psy-form">
        {{ MyFilter.form }}
        <input type="submit" class="bg-pri text-white" >
   {% comment %} {{ request.get_full_path }} {% endcomment %}
    </form>
 

  
  </div>

  {% for patient in patients %}
	<div class="m-5 b-1 tal " style="padding: 2rem; border: 1px solid gray; color: black !important">
		<p style="font-weight: bold;"> {{ patient.name }} </p>
		<p> Email: {{ patient.email }} </p>
		<p> Age: {{ patient.age }} </p>
		<p> Gender: {{ patient.gender }} </p>

		{% comment %} <a href="{% url 'view_paitent' psychologist.user.id %}" >View Profile</a> {% endcomment %}

	</div>
  {% endfor %}


  
</div>








{% endblock %}
