
<html>
<head>
<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="css/style.css">
</head>

<body>
<header>
<div class="top" >
<button class="button"><b>contact us<b></button>
<img src="#" alt=logo>
<h1> Mind Bliss<h1>
</header>
</div>
<!-------------------------------------------nav bar-------------------------!>
<div class="topnav">
  <a href="#" class="active">Home</a>
  <a href="#">Search Phychologist</a>
  <a href="#">Blogs</a>
 <a href="#">User stories</a>
  <a href="#">Settings</a>
  <a href="#">Personality test</a>
<input type="text" placeholder="Search">
</div>
<div class="head">
<p>
<div class="homepage_search-container">
<div class="homepage_search-input-container">
<lable class="homepage_search-lable" for="homepage_search-input">..</lable>
<input class="homepage_search-input" id="homepage_search-input" type="text" placeholder="search physcologist list">
<button class="homepage_search-clear-button" type="button"></button>
</div>
<button class="homepage_search-submit-button" type="submit">Search</button>
</div>
</body>
</html>
