
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
<link rel="stylesheet" href="css/style.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
        <body>
                 <header>
<div class="top" >
<button class="button"><b>contact us<b></button>
<img src="#" alt=logo>
<h1> Mind Bliss<h1>
</header>
</div>
<div class="topnav">
  <a href="dashboard.html" >Home</a>
  <a href="searchpsychologist.html">Search Phychologist</a>
  <a href="blog page.html">Blogs</a>
 <a href="userstories.html"class="active">User stories</a>
  <a href="settings main page.html">Settings</a>
  <a href="#">Personality test</a>
  <a href="#">Personality test</a>
<input type="text" placeholder="Search">
</div>
            

	<div class="container-main">
		<div class="container">
			<h3 class="heading">User Stories</h3>
			<div class="container-fluid">
				<span class="icon"><i class="fa fa-search"></i></span>
				<input type="text" class="input-control">
				<button class="search-btn">Search</button>
			</div>
			<span>Top Results</span>
			<div class="container-block">
				<div class="cell">
					<img class="img-fluid add-img" src="1.jpg">
				</div>
				<div class="cell">
					<div class="cell-grid">
						<div class="block">
							<img class="img-fluid user-img" src="2.png">
						</div>
						<div class="block">
							<span>25th Jan,3:35PM</span>
							<br>
							<strong>Auther Name: </strong>
							<br>
							<strong>Ali</strong>
						</div>
					</div>
					<div class="desc">
						<p>
							Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
						</p>
					</div>
				</div>
				<div class="cell">
					<div class="cell-grid">
						<div class="block">
							<img class="img-fluid user-img" src="2.png">
						</div>
						<div class="block">
							<span>25th Jan,3:35PM</span>
							<br>
							<strong>Auther Name: </strong>
							<br>
							<strong>Ali</strong>
						</div>
					</div>
					<div class="desc">
						<p>
							Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
						</p>
					</div>
				</div>
				<div class="cell">
					<div class="cell-grid">
						<div class="block">
							<img class="img-fluid user-img" src="2.png">
						</div>
						<div class="block">
							<span>25th Jan,3:35PM</span>
							<br>
							<strong>Auther Name: </strong>
							<br>
							<strong>Ali</strong>
						</div>
					</div>
					<div class="desc">
						<p>
							Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    </body>
</html>
