
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="background.css" rel="stylesheet" type="text/css">
         
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         
<link rel="stylesheet" href="css/style.css">
    </head>
    <body>
                  <header>
<div class="top" >
<button class="button"><b>contact us<b></button>
<img src="#" alt=logo>
<h1> Mind Bliss<h1>
</header>
</div>
        <div class="topnav">
  <a href="#" class="active">Home</a>
  <a href="Searchpsychologist.html">Search Patient</a>
  <a href="#">Blogs</a>
 <a href="#">User stories</a>
  <a href="#">Settings</a>
  <a href="#">Personality test</a>
<input type="text" placeholder="Search">
</div>
<div class="margin"></div>

 <!----container----------------------->
<div class="container">
	
		<div class="row">
    <div class="Profilecard">
        <center>  <h1> Patient Info. </h1> </center>   	
      <div style="float: left;width: 25%;">
      	<img src="images/johnwicks.jpg" style="height: 220px;width: 240px;"> </div>

      <div class="ProfileSmallcard">
    	
<table>
	<tr>
		<td colspan="2" style="width: 200px;">
		<span style="font-weight: bold;">First Name:</span>	
		</td>
		<td style="width: 300px;">John</td>
	</tr>
	<tr>
		<td colspan="2" style="width: 200px;">
		<span style="font-weight: bold;">Last Name:</span>	
		</td>
		<td style="width: 300px;">Wicks</td>
	</tr>
	<tr>
		<td colspan="2" style=" width: 200px;">
		<span style="font-weight: bold;">Age:</span>	
		</td>
		<td style="width: 300px;">30</td>
	</tr>
	<tr>
		<td colspan="2" style="width: 200px;">
		<span style="font-weight: bold;">Occupation:</span>	
		</td>
		<td style="width: 300px;">Patient</td>
	</tr>
	<tr>
		<td colspan="2" style=" width: 200px;">
		<span style="font-weight: bold;">Birthday:</span>	
		</td>
		<td style="width: 300px;">Jan,01,1991</td>
	</tr>
	<tr>
		<td colspan="2" style="width: 200px;">
		<span style="font-weight: bold;">Cell No:</span>	
		</td>
		<td style="width:300px;">+4403243243490</td>
	</tr>
	<tr>
		<td colspan="2" style=" width: 200px;">
		<span style="font-weight: bold;">Speciality:</span>	
		</td>
		<td style="width:300px;">Psychology</td>
	</tr>
	<tr>
		<td colspan="2" style="; width: 200px;">
		<span style="font-weight: bold;">Address:</span>	
		</td>
		<td style=" width:300px;">Barclays Bank Plc, Flat 1, 10, Suite 5, 11</td>
	</tr>
</table>
      
    </div>

    <div class="ProfileSmallcard" style="margin-top: 20px;">      
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus ut magna sed fermentum. Pellentesque ex dolor, pharetra vitae venenatis ac, laoreet et sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque at mattis urna. Nunc eleifend nisi est, at tempor purus consectetur ut. Aenean dapibus nibh lorem, non euismod erat dignissim vel. In hac habitasse platea dictumst. Nam eu eros nibh. Donec id porta dui. Nunc at porttitor purus. Fusce nisi felis, viverra eu massa sed, dapibus tincidunt ipsum.
</p>
    </div>
    </div>
</div>
</div>

<!-------------------------------------------------footer--------------------->
		
<footer class="footer-distributed">
<div class="footer-left">
 
<h3>MIND<span>BLISS</span></h3>
 
<p class="footer-links">
<a href="#">Home</a>
	
<a href="#">Blog</a>
<a href="#">Pricing</a>
	
<a href="#">About</a>
	
<a href="#">Faq</a>
<a href="#">Contact</a>
</p>
 
<p class="footer-company-name">webdevtrick &copy; 2019</p>
</div>
 
<div class="footer-center">
 
<div>
<i class="fa fa-map-marker"></i>
		<p><span>21 Revolution Street</span> Delhi, India</p>
		</div>
 
		<div>
		<i class="fa fa-phone"></i>
		<p>+1 555 123456</p>
		</div>
 
		<div>
		<i class="fa fa-envelope"></i>
		<p><a href="mailto:support@company.com">contact@webdevtrick.com</a></p>
		</div>
 
		</div>
 
		<div class="footer-right">
 
		<p class="footer-company-about">
		<span>About the company</span>
	Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
		</p>
 
		<div class="footer-icons">
 
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
 
		</div>
 
		</div>
 
		</footer>
    </body>
</html>
